:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fs-regular: 300;
    --fs-bold: 800;

    --clr-primary: #FFCC33;
    --clr--secondary: #0B0000;
    --clr--light: #fff;
    --clr-dark: #303030;
    --clr-grey: #989898;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --lh-h1: 2.532rem;
    --bs: 0.50em 0.50em 2em rgba(0, 0, 0, 0.125),
        0.125em 0.125em 3em rgba(0, 0, 0, 0.25);
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
body {
    padding: 0;
    margin: 0;
}


body {
    max-height: 100vh;
}

.container {
    width: 75%;
    margin-inline: auto;
}

.header {
    padding-top: 24px;
    width: 1200px;
    height: 20rem;
    display: grid;


}

.header h1 {
    flex-basis: 1;
    font-size: var(--fs-h1);
    color: var(--clr-dark);
    text-align: center;
}

.header p {
    font-size: 18px;
    width: 80%;
    margin-inline: auto;
    color: #4e4d4d;
}

.showForm {
    padding: 64px 32px;
    display: flex;
    /* outline: 2px solid red; */
    justify-content: center;
}

.showForm #tvshows {
    padding: 24px 32px;
    display: flex;
    width: 70%;
    flex-direction: column;
    row-gap: 16px;
    /* outline: 2px solid yellow; */

    border: 2px solid rgb(221, 221, 221);
    border-radius: 24px;
}

#tvshows>label {
    color: var(--clr-dark);
    text-align: center;
    font-size: xx-large;
}

#tvshows>input {
    height: 3rem;
    border: 2px solid var(--clr-primary);
    border-radius: 8px;
}

#tvshows>input::placeholder {
    padding: 24px;
    text-align: center;
    color: var(--clr--secondary);
    font-size: 16px;
    background-color: none;

}




#tvshows>button {
    margin: auto;
    font-size: var(--fs-regular);
    font-weight: 600;
    height: 2rem;
    width: 50%;
    color: var(--clr-dark);
    background-color: var(--clr-primary);
    border-radius: 8px;
    border: none
}

#tvshows>button:hover {
    cursor: pointer;
}

.imgLoader {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: auto;
    padding: 24px 32px;
    justify-content: center;
}

.show1 {
    margin: 24px 10px;
}


.imgLoader .show1 img {
    width: 90%;
    border-radius: 16px;
    margin: auto;

}

.imgLoader .show1 h4 {
    padding: 16px 0px;
    font-size: var(--fs-h2);
    color: var(--clr--secondary);
    text-align: center;
}

.imgLoader .show1 {
    padding: 24px 16px;
    display: flex;
    column-gap: 20px;
    flex-direction: column;
    width: 28%;
    border-radius: 16px;
    box-shadow: 5px 10px 18px #888888;
}

.imgLoader .show1 p {

    text-align: center;
    font-size: x-large;
    color: var(--clr-primary);
}